@font-face {
    font-family: 'BundesSans-Medium';
    src: url("../assets/BundesSans/BundesSans-Medium.otf") format("opentype");
}

@font-face {
    font-family: 'BundesSans-Regular';
    src: url("../assets/BundesSans/BundesSans-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'BundesSans-RegularItalic';
    src: url("../assets/BundesSans/BundesSans-RegularItalic.otf") format("opentype");
}

@font-face {
    font-family: 'BundesSans-Bold';
    src: url("../assets/BundesSans/BundesSans-Bold.otf") format("opentype");
}

body,
.body {
    font-family: 'BundesSans-Regular';
}

h1,h2, h3, h4 {
    font-family: 'BundesSans-Bold' !important;

}


.header-inner .toggle.mobile-search-toggle, .header-inner .search-toggle  {
    display: none;
}

@media (min-width: 700px) { 
    .footer-widgets {
        margin-left: 2.1rem;
        max-width: 19%;
    }
}

@media (min-width: 700px) { 
    .footer-widgets {
        margin-left: 2rem;
        max-width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.speaker-popup {
    position: fixed; 
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; 
    z-index: 999999; 
    top: 50%; 
    left: 50%; 
    background: white; 
    padding: 0.5rem; 
    transform: translate(-50%, -50%); 
    display: flex;
    padding: 1.5rem;
    width: 55%;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    z-index: -1;
    max-height: 80vh;
    overflow-x: scroll;

    &--show {
        opacity: 1;   
        z-index: 99;
    }


    &__content {
        width: 80%;
        padding-left: 1.5rem;

        & h4 {
            margin-bottom: 2rem;
        }
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        stroke: black;
        margin: 1rem;
        width: 30px;
        height: 30px;
    }

    &__foto {
        width: 200px;
        height: auto;
        background-color: grey;
        margin-bottom: 1rem; 
        align-self: flex-start;
    }
}

body.no-scroll {
    overflow: hidden;
}

body.page-id-126 {
    .organisers-partners-footer {
        display: none;
    }
}

.color-accent, .color-accent-hover:hover, .color-accent-hover:focus, :root .has-accent-color, .has-drop-cap:not(:focus):first-letter, .wp-block-button.is-style-outline, a {
    color: #1e73be !important;
}
a {
    color: #1e73be;
    text-decoration: underline;
}

.page-id-126 {

    @include from_768 {
        figure.wp-block-image.alignwide.size-large {
            height: 118px;

            & img {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    
}

.homepage-wrapper {
    height: 100%;
    width: 100%;
    background-color: white;

    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.sh-container {
}

.sh-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sh-col-3 {
    width: 100%;
    position: relative;

    @include from_1024 {
        width: 25%;
    }
    @include from_1200 {
        width: 250px;
        height: 250px;
        overflow: hidden;
    }
  }

  .panelist-tile {
      border: 5px solid white;
      cursor: pointer;
      background-color: #1e73be;

      @include from_1025 {
        opacity: .8; 
    }

      &:hover {
          opacity: 1;
          cursor: pointer;
        }
  } 

  .panelist-name {
      position: absolute;
      bottom: 5px;
      background-color: white;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      width: calc(100% - 10px);
  }

@include from_768 {
    .page-id-114 .site-logo img {
        max-height: 15rem;
    }
}


span.en-lang {
    font-style: italic;
    color: rgb(106, 106, 106);
    color: #5289c0;
    font-weight: 400;
    padding-left: .5rem;
    font-size: 1.6rem;
}

span.en-lang-separator {
    color: midnightblue;
    opacity: 0;
}






