.header-inner .toggle.mobile-search-toggle, .header-inner .search-toggle  {
    display: none;
}

.de-lang {
    font-weight: 400;
    padding-left: 1rem;
    color: #504d4d;
}

@media (min-width: 700px) { 
    .footer-widgets {
        margin-left: 2.1rem;
        max-width: 19%;
    }
}

@media (min-width: 700px) { 
    .footer-widgets {
        margin-left: 2rem;
        max-width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}



